.services__btn {
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    color: #fff;
    padding: 13px 18px;
    background-color: #ff2121;
    border-radius: 5px;
    margin-top: 30px;
}