.swiper {
    max-height: 530px;
    position: relative;
}

.slide {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 531px;
}

.slide_bgi1 {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../../static/images/slider1.webp);
}

.slide_bgi2 {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../../static/images/slider2.webp);
}

.slide_bgi3 {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../../static/images/slider3.webp);
}

.slide_bgi4 {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../../static/images/slider4.webp);
}

.wrapper {
    padding-left: 174px;
    padding-top: 50px;
    max-width: 2500px;
    margin-left: auto;
    margin-right: auto;
}


.heading {
    max-width: 900px;
    font-size: 67px;
    font-weight: 700;
    color: #fff;
}

.description {
    max-width: 900px;
    font-size: 23px;
    line-height: 35px;
    font-weight: 400;
    color: #fff;
    margin-top: 22px;
}

@media(max-width: 1300px) {
    .slide {
        height: 431px;
    }

    .wrapper {
        padding-left: 104px;
        padding-top: 20px;
    }

    .heading {
        max-width: 800px;
        font-size: 57px;
    }
    
    .description {
        max-width: 800px;
        font-size: 20px;
    }
}

@media(max-width: 940px) {
    .slide {
        height: 331px;
    }

    .wrapper {
        padding-left: 54px;
        padding-top: 15px;
    }

    .heading {
        max-width: 500px;
        line-height: 40px;
        font-size: 47px;
    }
    
    .description {
        max-width: 570px;
        font-size: 17px;
        line-height: 20px;
        margin-top: 10px;
    }
}