.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: none;
}

.modal__content {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.active {
  display: block;
}

.modal__bg {
  position: relative;
  background-color: #e5e7eb;
  padding: 20px;
  border-radius: 5px;
}

.modal__X {
  position: absolute;
  cursor: pointer;
  right: 20px;
  top: 10px;
  cursor: pointer;
  font-size: 30px;
}

@media (max-width: 875px) {
  .modal__content {
    display: block;
  }

  .modal__bg {
    height: 100vh;
  }
}