.swiper-button-prev::after {
  content: '';
  background-image: url(../../../assets/svg/prev.svg);
}

.swiper-button-next::after {
  content: '';
  background-image: url(../../../assets/svg/next.svg);
}

.swiper-button-prev::after,
.swiper-button-next::after {
  background-repeat: no-repeat;
  background-size: 28px 15px;
  width: 28px;
  height: 15px;
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  width: 28px;
  height: 15px;
}

.swiper-button-prev {
  top: 300px;
  left: 50px;
}

.swiper-button-next {
  top: 300px;
  left: 120px;
}
