.swiper {
    min-height: 530px;
    position: relative;
}

.swiper__slide {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 530px;
}

.swiper__slide_bgi1 {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../../static/images//slider1.webp);
}

.swiper__slide_bgi2 {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../../static/images//slider2.webp);
}

.swiper__slide_bgi3 {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../../static/images//slider3.webp);
}

.swiper__slide_bgi4 {
    background-image: linear-gradien    t( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../../static/images//slider4.webp);
}

.swiper__wrapper-card {
    padding-left: 175px;
    padding-top: 100px;
}


.swiper__heading {
    max-width: 900px;
    font-size: 67px;
    font-weight: 700;
    color: #fff;
}

.swiper__description {
    max-width: 900px;
    font-size: 23px;
    font-weight: 400;
    color: #fff;
    margin-top: 20px;
}

.swiper__btn {
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    color: #fff;
    background-color: #ff2121;
    padding: 15px 33px;
    border-radius: 3px;
    margin-top: 30px;
}