.register__form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.register__heading {
  font-weight: 700;
  font-size: 32px;
  color: #3c4858;
  margin-bottom: 17px;
}

.register__input {
  max-width: 530px;
  width: 100%;
  height: 50px;
  padding-left: 25px;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  box-shadow: 15px 4px 74px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  margin-top: 25px;
  outline: none;
}

.register__input::placeholder {
  font-weight: 700;
  font-size: 18px;
  color: #b6b6b6;
}

.register__forgot {
  font-weight: 700;
  font-size: 22px;
  color: #3c4858;
  margin-top: 25px;
}

.register__buttons {
  display: flex;
  width: 530px;
  justify-content: space-between;
  margin-top: 42px;
}

button.register__btn {
  background: #ff2121;
  border-radius: 6px;
  border: none;
  padding: 12px 31px;
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
  cursor: pointer;
  margin-top: 20px;
}

.register__login {
  cursor: pointer;
  font-weight: 700;
  font-size: 22px;
  color: #3c4858;
  margin-top: 20px;
}
