.list {
	display: grid;
	grid-template-columns: repeat(4, 354px);
	justify-content: center;
	gap: 35px;
	margin-top: 35px;
}

.item {
	background-color: #fff;
	box-shadow: 0px 16px 24px 2px rgba(0, 0, 0, 0.14);
	border-radius: 6px;
	padding: 20px;
	max-height: 235px;
	/* overflow: auto; */
}

.heading {
	font-weight: 500;
	font-size: 15px;
	color: #666666;
	border-bottom: 1px solid #fd1e2a;
	padding-bottom: 5px;
}

.list_text {
	overflow: auto;
	height: 138px;
	margin-top: 22px;
}

.item_text {
	margin-bottom: 14px;
}

.info {
	font-weight: 500;
	font-size: 11px;
	color: #000000;
}

.day {
	font-weight: 300;
	font-size: 10px;
	line-height: 13px;
	color: #666666;
	margin-left: 12px;
}

.message {
	font-weight: 400;
	font-size: 11px;
	line-height: 5px;
	color: #1d1c1c;
}
