.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    max-width: 2500px;
    background-color: #ffffff;
    padding-left: 160px;
    padding-right: 160px;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10;
}

.logo {
    max-height: 48px;
}

.list {
    display: flex;
    flex-wrap: wrap;
}

.item:not(:last-child) {
    margin-right: 32px;
}

.nav_link {
    font-size: 12px;
    font-weight: 400;
    color: #555;
    transition: color 0.2s ease;
}

.nav_link:hover {
    color: #ff2121;
}

.menu_burger {
    display: none   ;
}

@media(max-width: 1300px) {
    .header {
        padding-left: 80px;
        padding-right: 80px;
    }
}

@media(max-width: 1100px) {
    .item:not(:last-child) {
        display: none;
        margin-bottom: 10px;
    }

    .nav {
        display: flex;
        align-items: center;
    }

    .menu_burger {
        cursor: pointer;
        height: 20px;
        width: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 32px;
    }

    .menu_burger span {
        display: block;
        height: 3px;
        width: 30px;
        background-color: #555;
    }

    /* .list_burger {
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
    } */

}

@media(max-width: 700px) {
    .header {
        padding-left: 20px;
        padding-right: 20px;
    }

    .logo {
        max-height: 35px;
    }

    .menu_burger {
        margin-left: 15px;
    }
}