.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: #ffffff;
    padding: 0 160px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10;
}

.header__logo {
    max-height: 50px;
}

.header__list {
    display: flex;
    list-style: none;
}

.header__nav-link {
    text-decoration: none;
    font-size: 12px;
    font-weight: 400;
    color: #555;
}

.header__item:not(:last-child) {
    margin-right: 32px;
}