.section {
    padding-top: 93px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 30px;
}

.heading {
    font-size: 37px;
    font-weight: 700;
    color: #3c4858;
    text-align: center;
}

.list {
    display: grid;
    grid-template-columns: repeat(4, 330px);
    grid-column-gap: 41px;
    justify-content: center;
}

.item {
    background-color: #fff;
    width: 330px;
    align-items: center;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 6px;
    padding-bottom: 17px;
    box-shadow: rgba(0, 0, 0, 0.14) 0px 16px 24px 2px;
    margin-top: 20px;
}

.wrapper_img {
    border-bottom: 5px solid #ff2121;
}

.photo {
    display: block;
    width: 195px;
    margin-left: auto;
    margin-right: auto;
}

.name_instructor {
    display: inline-block;
    font-size: 22px;
    font-weight: 500;
    color: #3c4858;
    margin-top: 21px;
}

.list_text {
    font-size: 15px;
    font-weight: 400;
    color: #666666;
    text-align: left;
    list-style: disc;
    padding-left: 30px;
    margin-top: 17px;
}

.item_text {
    margin-top: 15px;
}

@media(max-width: 1550px) {
    .list {
        grid-template-columns: repeat(2, 330px);
    }
}