.footer {
  background-color: #17181c;
  color: #fff;
  padding-top: 26px;
  padding-bottom: 26px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.copyright,
.politik_link {
  font-family: "Gilroy-Regular";
  font-size: 12px;
  line-height: 142%;
  color: #ffffff;
  opacity: 0.5;
}
