.background {
    background-color: #E7EBF5;
    position: relative;
    top: -120px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    z-index: 9;
    width: 96.8%;
    margin-left: auto;
    margin-right: auto;
    min-height: 400px;
    box-shadow: rgba(0, 0, 0, 0.468) 0px 16px 74px 4px;
}