.section {
    background-color: #fff;
    padding-top: 63px;
    padding-bottom: 35px;
}

.heading {
    font-size: 37px;
    font-weight: 700;
    color: #2d3359;
    text-align: center;   
}

.list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

.img_1 {
    width: 360px;
    margin-right: 135px;
}

.img_2 {
    width: 205px;
}

@media(max-width: 1100px) {
    .img_1 {
        width: 260px;
        margin-right: 135px;
    }
    
    .img_2 {
        width: 155px;
    }
}