.list {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 93px;
    padding-bottom: 93px;
    margin-top: 10px;
}

.img {
    width: 300px;
}

.item:not(:last-child) {
    margin-right: 40px;
}