.header {
  /* position: fixed;
  top: 0;
  right: 0;
  left: 0; */
  z-index: 10;
  background-color: #ffffff;
}

.header_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 30px;
  padding-bottom: 20px;
  border-bottom: 2px solid #e0e0e0;
}

.logo {
  max-width: 197px;
  max-height: 45px;
}

.navTop_link {
  font-family: "Bebas Neue Cyrillic";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 137.99%;
  color: #17181c;
  opacity: 0.5;
  margin-right: 45px;
}

.btn {
  cursor: pointer;
  color: #fff;
  font-size: 14px;
  font-family: "Gilroy-Semibold";
  line-height: 17px;
  background-color: #17181c;
  padding: 10px 18px;
  margin-left: 4px;
}

.header_bottom {
  padding-top: 14px;
  padding-bottom: 14px;
  display: flex;
  justify-content: space-between;
}

.navBottom {
  display: flex;
  flex-wrap: wrap;
}

.navBottom_link {
  font-family: "Gilroy-Bold";
  font-size: 16px;
  line-height: 137.99%;
  color: #17181c;
  opacity: 0.6;
}

.navBottom_link:not(:last-child) {
  margin-right: 80px;
}

.nav__link {
  display: flex;
  width: 70px;
  justify-content: space-between;
}

.nav_img {
  opacity: 0.6; 
  transition: opacity .5s;
}

.nav_img:hover {
  opacity: 1;
}
